[submodule "themes/DeepThought"]
	path = themes/DeepThought
	url = https://github.com/RatanShreshtha/DeepThought.git
[submodule "themes/dlecan-zola-theme"]
	path = themes/dlecan-zola-theme
	url = https://github.com/dlecan/dlecan-zola-theme.git
